<div class="container" *ngIf="auth.user$ | async as user">
    <div class="row">
        <div class="col-12">
            <div class="infoCard">
                <div class="card" style="width: 30rem;">
                    <img [src]="user.picture" alt="" width="120" height="120" class="rounded-circle me-3">
                    <div class="card-body">
                        <div>
                            <p class="card-text text-center">{{user.name}}</p>
                        </div>
                        <div>
                            <b class="card-text"> Email: </b> {{user.email}}
                        </div>
                        <div>
                            <b class="card-text">Nombre de usuario:</b> {{user.nickname}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
