.colorGodoyCruz{
    color:#70326F
}
.colorGuaymallen{
  color: #5a3377 ;
}
.colorSanCarlos{
    color:#05A5B1;
}
.colorLaPaz{
  color:#05A5B1;
}
.colorRivadavia{
  color:#7c327b;
}
.colorSantaRosa{
  color:#05A5B1;
}
.colorMalargue{
  color:#05A5B1;
}
.genericColor{
    color:rgb(91, 104, 117);
}