 <div class=" grid-layout row">
    <div *ngFor="let reina of reinas" >
        <div class="col-4">
            <div class="card2">
                <img src="../../../../assets/reina2022.jfif" class="image-card card-img-top" alt="" />
                <div class="card-body">
                    <h5 class="card-title">Nombre 1</h5>
                    <p class="card-text">Descripcion de la misma.</p>
                    <div class="buttonMoreInformation"><a to="/" class="btn">Saber mas</a></div>
                </div>
            </div>
        </div>
    </div>
</div>